<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/effd4a3746.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Portafolio Andres Romero</title>
</head>
<body>
  <!-- Banner -->
  <div class="banner separador ">
    <!-- Header -->
    <header>
      <nav>
        <div id="burguer-container">
          <span class="burguer" onclick="openMenu()">
            <i class="fas fa-bars"></i>
          </span>
        </div>
        <div id="menu-options">
          <ul>
          <li><a class="text-decoration-none" href="#Proyectos">Proyectos</a></li>
          <li><a class="text-decoration-none" href="#Practicas">Practicas</a></li>
          <li><a class="text-decoration-none" href="#Perfil">Perfil</a></li>
          <li><a class="text-decoration-none" href="#Contacto">Contacto</a></li>
        </ul>
         </div>
      </nav>
    </header>
    <!-- /header -->
    <div class="content-banner">
      <div class="content">
       <div class="content-text">
        <h1>Andres Romero</h1>
        <p>Desarrollador Web</p>
       </div>
        <div class="img">
              <img
                src="https://media-exp1.licdn.com/dms/image/C4E03AQH7gAsfod4SqQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=x1b5Qml6F7JZdV6DvYv95G8fMDtntrlWHa0O3-CT9ME"
                alt=""
              >
        </div>
      </div>
    </div>
  </div>

<!-- About -->
  <a name="Perfil" />
  <div class="about">
    <div class="text-about -text-center">
      <h2 class="verde">Perfil</h2>
      <div class="border-about"></div>
      <div class="about-content">
        <h3>Hola, mi nombre es Andres</h3>
        <p>
        Soy desrollador web, actualmente vivo en México, mi objetivo es desarollarme profesionalmente para obtener experiencia laboral en el desarrollo web.
          <br><br>
        Soy autididacta, me gustan los retos, aprendo con facilidad, analizo las explicaciones que me aportan en aprendizajes relacionados con la programación y adquiero la habilidad de estimar números como resolviendo algoritmos.
        <br><br>
        En mi camino de desarrollador he creado algunos proyectos y practicas como los que se muestran abajo.
      </p>
      </div>
    </div>
  </div>
<!-- /About -->

<!-- Trabajos -->
  <section class="background-container ">
    <div id="app" class="container separador-c sin-separador">
      <!-- Pryectos -->
      <a name="Proyectos" />
      <h2 class="-text-center -border-bottom mb-4">Proyectos</h2>
      <div class="row m-0">
        <!-- card -->
        <card
          v-for="card in cardProject"
          v-bind:key="card.id"
          v-bind:title="card.title"
          v-bind:description="card.description"
          v-bind:image="card.image"
          v-bind:url="card.url"
          v-bind:codigo="card.codigo"
        ></card>
        <!-- /card -->
      </div>
      <!-- /proyectos -->

      <!-- Practicas -->
      <a name="Practicas" />
      <h2 class="-text-center -border-bottom mb-4">Practicas</h2>
      <div class="row m-0">

        <!-- card -->
        <card
          v-for="card in cardPractices"
          v-bind:key="card.id"
          v-bind:title="card.title"
          v-bind:description="card.description"
          v-bind:image="card.image"
          v-bind:url="card.url"
          v-bind:codigo="card.codigo"
        ></card>
        <!-- /card -->
      </div>
      <!-- /practicas -->

  </div>
  </section>

  <!-- Footer -->
  <a name="Contacto" />
  <footer>
  <!--  Contacto  -->
    <div class="my-5 tex-center">
      <div class="">
        <div class="-text-center mb-5">
           <i class="fa -ico fa-envelope-o" aria-hidden="true"></i>
          <h4  class="verde">Correo</h4>
          <p>amclres@gmail.com</p>
        </div>
        <div class="-text-center">
          <i class="fa -ico fa-map-marker" aria-hidden="true"></i>
          <h4 class="verde">Ubicación</h4>
          <p>México</p>
        </div>
      </div>
    </div>
  <!-- /Contacto -->

  <!--  redes-sociales  -->
    <div class="redes-sociales">
      <a class="px-0 mr-4" href="https://www.linkedin.com/in/andres-romero-069b961a8/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="px-0" href="https://github.com/Andresrom1123/" target="_blank">
        <i class="fab fa-github-alt"></i>
      </a>
    </div>
  <!-- /redes-sociales -->
  </footer>
  <!-- /footer -->
  <script src="js/main.js"></script>
  <script type="text/javascript" src="js/styles.js"></script>
</body>
</html>